body {
    background: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
}

h1 {
    font-family: inherit;
    font-size: 41px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 20px 0;
}

.margin-top-50 {
    margin-top: 50px;
}

.text-center {
    text-align: center;
}

.uploader {
  position: relative;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #555;
  border: 2px dashed #888;
  border-radius: 7px;
  cursor: default;
  background: white;
}

.uploader p.uploader-msg {
    font-family: inherit;
    font-size: 16px;
    margin: 2em 0px;
}

.img-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
}

#popular-style {
    height: 136px;
    overflow-x: auto;
    background: white;
    margin: 1em 0;
    color: #555;
    border-radius: 7px;
}

#popular-style .style-img {
    position: relative;
}

#popular-style .style-img > img,
#popular-style .style-img .overlay {
    height: 100px;
    margin: 18px 10px;
    cursor: pointer;
}

#popular-style .style-img .overlay {
    display: none;
    width: 100px !important;
    background: rgba(200,200,200,0.7);
    position: absolute;
    top: 0;
    left: 0;
}

#popular-style .style-img .overlay img {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: auto;
}

.d-inline-block {
    display: inline-block;
}

.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 9px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rs-preview {
    max-width: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.rs-preview .overlay {
    width: 100%;
    height: 100%;
}

.rs-preview .overlay {
    display: none;
    background: rgba(200,200,200,0.7);
    position: absolute;
    top: 0;
    left: 0;
}

.rs-preview .overlay .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error {
    display: none;
}