body {
    background: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
}

h1 {
    font-family: inherit;
    font-size: 41px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 20px 0;
}

.margin-top-50 {
    margin-top: 50px;
}

.text-center {
    text-align: center;
}

.uploader {
  position: relative;
  text-align: center;
  padding: 1em 0;
  margin: 1em 0;
  color: #555;
  border: 2px dashed #888;
  border-radius: 7px;
  cursor: default;
  background: white;
}

.uploader p.uploader-msg {
    font-family: inherit;
    font-size: 16px;
    margin: 2em 0px;
}

.img-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
}

#popular-style {
    height: 136px;
    overflow-x: auto;
    background: white;
    margin: 1em 0;
    color: #555;
    border-radius: 7px;
}

#popular-style .style-img {
    position: relative;
}

#popular-style .style-img > img,
#popular-style .style-img .overlay {
    height: 100px;
    margin: 18px 10px;
    cursor: pointer;
}

#popular-style .style-img .overlay {
    display: none;
    width: 100px !important;
    background: rgba(200,200,200,0.7);
    position: absolute;
    top: 0;
    left: 0;
}

#popular-style .style-img .overlay img {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: auto;
}

.d-inline-block {
    display: inline-block;
}
